<h3>Post Form</h3>

<%= form_for(@post) do |field| %>
  <label>Post title:</label><br>
  <%= field.text_field :title %><br>

  <label>Post Description</label><br>
  <%= field.text_area :description %><br>
  
  <%= field.submit %>
<% end %>